[user]
	name = SJTONY
	email = SHUNJUNHE@gmail.com
[difftool "bc3"]
	trustExitCode = true
[diff]
	tool = bc3

[alias]
    st = status
    bc = difftool
      
      
      
    
      
[diff]
    tool = bcompare
[difftool "bcompare"]
    cmd = bcompare \"$LOCAL\" \"$REMOTE\"
      prompt = false
[merge]
    tool = bcompare
[mergetool "bcompare"]
    cmd = bcompare \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
      keepBackup = false
        trustExitCode = false
[alias]
    diffdir = difftool -dir-diff -tool=bcompare -no-prompt
[push]
	default = simple

#git config --global push.default simple
